################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/ParkingLotService/bin
/ParkingLotService/obj
/ParkingLotServiceTest/bin
/ParkingLotServiceTest/obj
